.navBar {
  background-color: #333;
  color: #fff;
}

.navBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.addButton {
  background-color: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #ddd;
}